    <preference name="permissions" value="none"/>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version"  /> <!--  value="cli-5.2.0"  andaba bien: 3.7.0 !-->
    <preference name="android-maxSDKVersion" value="" />
    <preference name="android-targetSdkVersion" value="12" />  
    <preference name="orientation" value="auto" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="android-minSDKVersion" value="17" /><!-- min android version: 4.2 !-->
    <preference name="android-installLocation" value="auto" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="splash-screen-duration" value="2500" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="load-url-timeout" value="25000" />
    <preference name="deployment-target" value="8.0" /> <!-- min iOS version 7 !-->
    <preference name="android-build-tool" value="gradle" />

    <!-- para el fileupload !-->
    <preference name="AndroidPersistentFileLocation"        value="Internal" />
    <preference name="AndroidPersistentFileLocation"        value="Compatibility" />
    <preference name="iosPersistentFileLocation"            value="Library" />
    <preference name="iosPersistentFileLocation"            value="Compatibility" />
    <gap:plugin name="cordova-plugin-file"                  source="npm" /> 
    <gap:plugin name="cordova-plugin-file-transfer"                 source="npm" /> 
    <access origin="cdvfile://*" />
    <preference name="iosExtraFilesystems"                  value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems"              value="files,files-external,documents,sdcard,cache,cache-external,root" />

    <!-- para el fileupload !-->
    <gap:plugin name="ionic-plugin-keyboard"                                   source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen"              version="2.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist"                 version="1.0.0"       source="npm" />
    <gap:plugin name="cordova-plugin-contacts"                          source="npm" />
    <gap:plugin name="cordova-plugin-x-socialsharing"                   source="npm" /> 
    <gap:plugin name="cordova-plugin-geolocation"               version="1.0.1"     source="npm" />
    <gap:plugin name="cordova-plugin-calendar"                                                   source="npm" />
    <gap:plugin name="cordova-plugin-device"                                                    source="npm" />
   <plugin name="phonegap-plugin-push" source="npm">
    <param name="SENDER_ID" value="700551245280" />
</plugin>

    <access origin="tel:*" launch-external="yes" /> 
    <access origin="geo:*" launch-external="yes" />
    <access origin="*"/>
